<section style="background-color:white;">
                   
            <div class="container">
            <div class="row">
                {{#each booking.seats}}
                <div class="col-md-4 mt-5" id="film_tag">
                    <a class="btn">Movie Ticket</a>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Customer name   : </b>{{../username}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Booking date    : </b>{{formatDate ../booking.createdAt}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Movie name      : </b>{{../booking.show.movie.name}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Date            : </b>{{formatDate ../booking.date}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Show_time       : </b>{{../booking.show.time}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Cinema          : </b>{{../booking.show.cinema.name}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Seat number     : </b>{{seat_num}}</h4>
                    <h4 style="color:#000181"><b style="color:#1974D3;">Total           : </b>{{../booking.show.price}}</h4>
                    <div class="btn"><a href="">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</a></div>
                </div>  
                {{/each}}                  
            </div>
                
                

            
        </section>